<servi-page-header>
    Registro de orden de trabajo
</servi-page-header>

<div class="row">
    <div class="col-md-12">

        <div class="card border-primary">
            <div class="card-header">
                <ul class="nav nav-pills card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link {{currentStep===1?'active':''}}"> <span
                                class="badge {{currentStep===1?'badge-light':'badge-secondary'}} ">1</span>
                            Contribuyente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{currentStep===2?'active':''}}"> <span
                                class="badge {{currentStep===2?'badge-light':'badge-secondary'}}">2</span> Autorización</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{currentStep===3?'active':''}}"> <span
                                class="badge {{currentStep===3?'badge-light':'badge-secondary'}}">3</span> Documento</a>
                    </li>
                </ul>

            </div>
            <div class="card-body">
                <br>
                <div ng-show="currentStep===1">
                    <div class="row">
                        <div class="col-md-10">
                            <div>
                                <div class="row">
                                    <div class="col-md-4">
                                        RUC <span class="gridRed"> * </span>:
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" id="cnt_ruc" class="form-control"
                                                   ng-model="formContrib.cnt_ruc"
                                                   ng-required="true"
                                                   input-mask="{mask:'9999999999999'}"
                                                   ng-enter="onEnterFindContrib()"
                                                   ng-disabled="formContrib.cnt_id>0">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                        id="button-addon2" ng-click="findContrib()">Buscar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Razón Social <span class="gridRed"> * </span>:
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="formContrib.cnt_razonsocial"
                                               ng-focus="onFocusContribRazonSocial()"
                                               capitalize
                                               ng-required="true" id="cnt_razonsocial"
                                               ng-enter="setInputFocus('cnt_nombrecomercial')">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Nombre Comercial:
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="cnt_nombrecomercial"
                                               ng-model="formContrib.cnt_nombrecomercial"
                                               capitalize
                                               ng-required="true" ng-enter="setInputFocus('cnt_telf')">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Telf:
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="cnt_telf"
                                               ng-model="formContrib.cnt_telf"
                                               ng-enter="setInputFocus('cnt_email')">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Email:
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="cnt_email"
                                               ng-model="formContrib.cnt_email"
                                               ng-enter="setInputFocus('cnt_dirmatriz')">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Dirección Matriz <span class="gridRed"> * </span>:
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="formContrib.cnt_dirmatriz"
                                               id="cnt_dirmatriz"
                                               capitalize
                                               ng-required="true">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Dirección Establecimiento <span class="gridRed"> * </span>:
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="formContrib.cnt_direstab"
                                               id="cnt_direstab"
                                               capitalize
                                               ng-required="true">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-4">
                                        Clase <span class="gridRed"> * </span>:
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control"
                                                ng-model="formContrib.cnt_clase"
                                                ng-options="clase.cls_id as clase.cls_nombre for clase in tiposcontrib">
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Nro Contribuyente Especial:
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control"
                                               ng-model="formContrib.cnt_nrocntespecial" ng-disabled="formContrib.cnt_clase!==2">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            Obligado a llevar contabilidad:
                                        </div>
                                        <div class="col-md-8">
                                            <i class="{{formContrib.cnt_oblcontab===1 ? 'fas fa-check-square':'far fa-square' }}"
                                               ng-click="formContrib.cnt_oblcontab = formContrib.cnt_oblcontab===1?0:1"></i>
                                        </div>
                                    </div>

                                </div>

                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-outline-primary" type="button"
                                                ng-click="guardarContrib()">Siguiente
                                            <span class="fa fa-angle-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>

                <div ng-show="currentStep===2">
                    <div class="row">
                        <div class="col-md-8">

                            <div class="row">
                                <div class="col-md-5">
                                    Número de autorización <span class="gridRed"> * </span>:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" ng-model="formAut.aut_numero"
                                           id="aut_numero"
                                           input-mask="{mask:'9999999999'}" ng-enter="buscarAutorizacion()" ng-blur="onBlurNumAutorizacion()"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    Establecimiento <span class="gridRed"> * </span>:
                                </div>
                                <div class="col-md-7">
                                    <input type="text" id="aut_serie" class="form-control" ng-model="formAut.aut_estab"
                                           input-mask="{mask:'999'}" ng-enter="setInputFocus('e_fechaaut2')"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    Fecha de autorización <span class="gridRed"> * </span>:
                                </div>
                                <div class="col-md-7">
                                    <servi-fecha elementid="e_fechaaut2" model="formAut.aut_fechaautorizacion"
                                                 required="true" onenter="onenterfecha()"></servi-fecha>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    Fecha de caducidad <span class="gridRed"> * </span>:
                                </div>
                                <div class="col-md-7">
                                    <servi-fecha elementid="e_fechaaut1" model="formAut.aut_fechacaducidad"
                                                 required="true"></servi-fecha>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-outline-primary" type="button"
                                            ng-click="guardarAutorizacion()">
                                        Siguiente <span class="fa fa-angle-right"></span>
                                    </button>
                                    <button class="btn btn-outline-secondary" type="button" ng-click="anterior(1)">
                                        Regresar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Autorizaciones registradas
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" ng-repeat="item in autsContribList"> {{item.aut_numero}}</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div ng-show="currentStep===3">

                    <div class="row">
                        <div class="col-md-7">

                            <div class="card">
                                <div class="card-header">
                                    Datos del contribuyente
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-5">
                                            <b>RUC:</b>
                                        </div>
                                        <div class="col-md-7">
                                            {{formContrib.cnt_ruc}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <b>Razon Social:</b>
                                        </div>
                                        <div class="col-md-7">
                                            {{formContrib.cnt_razonsocial}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <b>Nombre comercial:</b>
                                        </div>
                                        <div class="col-md-7">
                                            {{formContrib.cnt_nombrecomercial}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <b>Telf:</b>
                                        </div>
                                        <div class="col-md-7">
                                            {{formContrib.cnt_telf}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <b>Dirección Matriz:</b>
                                        </div>
                                        <div class="col-md-7">
                                            {{formContrib.cnt_dirmatriz}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <b>Email:</b>
                                        </div>
                                        <div class="col-md-7">
                                            {{formContrib.cnt_email}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <b>Nro Contribuyente especial:</b>
                                        </div>
                                        <div class="col-md-7">
                                            {{formContrib.cnt_nrocntespecial}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-header">
                                    Datos de la autorización
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Nro de autorización:</b>
                                        </div>
                                        <div class="col-md-6">
                                            {{formAut.aut_numero}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Fecha de autorización:</b>
                                        </div>
                                        <div class="col-md-6">
                                            {{formAut.aut_fechaautorizacion}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Fecha de caducidad:</b>
                                        </div>
                                        <div class="col-md-6">
                                            {{formAut.aut_fechacaducidad}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Establecimiento:</b>
                                        </div>
                                        <div class="col-md-6">
                                            {{formAutSaved.aut_estab}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">
                                    Datos del documento
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-4">
                                            Punto de emision <span class="gridRed"> * </span>:
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="job_ptoemi" class="form-control"
                                                   ng-model="formJob.job_ptoemi"
                                                   input-mask="{mask:'999'}"
                                                   ng-enter="setInputFocus('aut_secuencia_ini')"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            Tipo Documento <span class="gridRed"> * </span>:
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control"
                                                    ng-model="formJob.job_tipodoc"
                                                    ng-options="tipodoc.td_id as tipodoc.td_nombre for tipodoc in listas.tiposdoc">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="">Secuencia Inicial <span class="gridRed"> * </span>:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" id="aut_secuencia_ini"
                                                   ng-model="formJob.job_secuencia_ini"
                                                   ng-enter="setInputFocus('aut_secuencia_fin')"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="">Secuencia Final <span class="gridRed"> * </span>:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" id="aut_secuencia_fin"
                                                   ng-model="formJob.job_secuencia_fin"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-outline-primary" type="button"
                                                    ng-click="guardarJob()">
                                                Guardar
                                            </button>
                                            <button class="btn btn-outline-secondary" type="button"
                                                    ng-click="anterior(2)">
                                                Regresar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                -->
            </div>
        </div>
    </div>
</div>
