<div class="input-group">
    <input type="text" class="form-control" ng-model="form['desde']" id="{{idpropdesde}}" input-mask="{mask:'99/99/9999'}"
           ng-enter="fnondesdeenter()" ng-disabled="disabled" ng-blur="fnondesdeblur()">

    <input type="text" class="form-control" ng-model="form['hasta']" id="{{idprophasta}}" input-mask="{mask:'99/99/9999'}"
           ng-enter="fnonhastaenter()" ng-disabled="disabled" ng-blur="fnonhastablur()">

    <div class="input-group-append">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Fechas</button>
    <div class="dropdown-menu">
                <a class="dropdown-item" href ng-click="cambiarFecha('hoy')">Hoy</a>
                <a class="dropdown-item" href ng-click="cambiarFecha('ayer')">Ayer</a>
                <a class="dropdown-item" href ng-click="cambiarFecha('semana')">La Semana</a>
                <a class="dropdown-item" href ng-click="cambiarFecha('mes')">Este Mes</a>
                <a class="dropdown-item" href ng-click="cambiarFecha('mesant')">Mes Anterior</a>
                <a class="dropdown-item" href ng-click="cambiarFecha('anio')">Este A&ntilde;o</a>
                <a class="dropdown-item" href ng-click="cambiarFecha('futuro')">A Futuro</a>
                <a class="dropdown-item" href ng-click="cambiarFecha('sigsem')">Sig Semana</a>
    </div>
  </div>
</div>
