<servi-page-header>
    Ingreso
</servi-page-header>
<div class="row">
    <div class="col-md-3">
        Usuario:</div>
    <div class="col-md-3">
        <input type="text" class="form-control" ng-model="form.usuario" id="usuario">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        Clave:</div>
    <div class="col-md-3">
        <input type="text" class="form-control" ng-model="form.clave" id="usuario">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" ng-click="autenticar()">Ingresar</button>
        <!--?<button type="button" class="btn btn-primary" ng-click="checkUserStatus()">Check</button>-->
    </div>
</div>