
<div class='input-group date {{cntrl.classinputgroup}}' id='{{cntrl.elementid}}'>

    <input type='text' ng-model='cntrl.model' input-mask={mask:'99/99/9999'}
           class='form-control {{cntrl.classinput}}'
           placeholder='DD/MM/AAAA'
           title="DD/MM/AAAA"
           ng-enter='cntrl.onEnter()'
           ng-disabled='cntrl.disabled'
           pattern='^(0?[1-9]|[12][0-9]|3[01])[/](0?[1-9]|1[012])[/](19|20)\d{2}'
           ng-required='cntrl.required'>
    <div class='input-group-append datepickerbutton'>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            <span class='fa fa-calendar'> </span>
        </button>
    </div>
</div>