<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="disabled['disabled']=='T'">{{label_mes_desde}} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="set_mes(1, 1)">Enero</a></li>
                  <li><a href="#" ng-click="set_mes(1, 2)">Febrero</a></li>
                    <li><a href="#" ng-click="set_mes(1, 3)">Marzo</a></li>
                    <li><a href="#" ng-click="set_mes(1, 4)">Abril</a></li>
                    <li><a href="#" ng-click="set_mes(1, 5)">Mayo</a></li>
                    <li><a href="#" ng-click="set_mes(1, 6)">Junio</a></li>
                    <li><a href="#" ng-click="set_mes(1, 7)">Julio</a></li>
                    <li><a href="#" ng-click="set_mes(1, 8)">Agosto</a></li>
                    <li><a href="#" ng-click="set_mes(1, 9)">Septiembre</a></li>
                    <li><a href="#" ng-click="set_mes(1, 10)">Octubre</a></li>
                    <li><a href="#" ng-click="set_mes(1, 11)">Noviembre</a></li>
                    <li><a href="#" ng-click="set_mes(1, 12)">Diciembre</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" aria-label="..." ng-model="anioa" input-mask="{mask:'9999'}" ng-disabled="disabled['disabled']=='T'" ng-enter="fnondesdeenter()">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="disabled['disabled']=='T'">{{label_mes_hasta}} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="set_mes(2, 1)">Enero</a></li>
                  <li><a href="#" ng-click="set_mes(2, 2)">Febrero</a></li>
                    <li><a href="#" ng-click="set_mes(2, 3)">Marzo</a></li>
                    <li><a href="#" ng-click="set_mes(2, 4)">Abril</a></li>
                    <li><a href="#" ng-click="set_mes(2, 5)">Mayo</a></li>
                    <li><a href="#" ng-click="set_mes(2, 6)">Junio</a></li>
                    <li><a href="#" ng-click="set_mes(2, 7)">Julio</a></li>
                    <li><a href="#" ng-click="set_mes(2, 8)">Agosto</a></li>
                    <li><a href="#" ng-click="set_mes(2, 9)">Septiembre</a></li>
                    <li><a href="#" ng-click="set_mes(2, 10)">Octubre</a></li>
                    <li><a href="#" ng-click="set_mes(2, 11)">Noviembre</a></li>
                    <li><a href="#" ng-click="set_mes(2, 12)">Diciembre</a></li>
                </ul>
              </div>
              <input type="text" class="form-control" aria-label="..." ng-model="aniob" input-mask="{mask:'9999'}" ng-disabled="disabled['disabled']=='T'" ng-enter="fnonhastaenter()">

        </div>
    </div>
</div>

