/*Estilos de la aplicacion*/

.estilo{
    border-right: 12px;
}
.estilo2{
    margin: 0px 0px;
}

.grab {cursor: -webkit-grab; cursor: grab;}

/*Estilo Tabla*/
.gridRed { color: red; }
.gridColorColumna {background-color: #d9edf7 !important;border-color: #d9edf7}
.grid{
     background-color: #ffffff;
     color: #333;
     padding:0px;
     margin:0px;
     height: 500px;
     width: 100%;
     overflow: hidden;
}
/*Cuando se carga la tabla, distorcionado*/
.ui-grid-pinned-container{
    height: 100% !important;
}

.ajax_anim_modal{
    top: 0;
    left: 0;
    visibility:hidden;
    position:absolute;
    width:180px;
    height:120px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    z-index:111;
}

.tablelayout{
    table-layout: auto !important;
}


/**Estilos agregados para la pagina de la fundacion **/


.textofusay{
  font-family: Roboto,sans-serif;
  color: #092303 !important;
  font-size: 18px;
}

.colorfusay {
  color: #007348 !important;
}

.lineaverde{
    color: #ffffff;
    width: 100%;
    font-size: 2px;
    background: linear-gradient(80deg, #007348 0%, #9BCB8B 100%)
}

.fondotituloA{

/*  background-image: linear-gradient(to right, #ffffff, #ebf3ff, #c8ecfd, #a2e6eb, #8dddc9, #8dddc9, #8dddc9, #8dddc9, #a2e6eb, #c8ecfd, #ebf3ff, #ffffff);*/

    background: linear-gradient(90deg, #ffffff 0%, #9BCB8B 100%);
}

.fondotituloB{

  /*  background-image: linear-gradient(to right, #ffffff, #ebf3ff, #c8ecfd, #a2e6eb, #8dddc9, #8dddc9, #8dddc9, #8dddc9, #a2e6eb, #c8ecfd, #ebf3ff, #ffffff);*/

  background: linear-gradient(90deg, #9BCB8B 0%,  #ffffff 100%);
}
