<servi-page-header>
    Parametrización del establecimiento gráfico
</servi-page-header>
<form action="">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            RUC<span class="gridRed"> * </span>:
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="nomApelUser" ng-model="form.emp_ruc" capitalize
                                   ng-required="true" maxlength="13"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            Razón Social <span class="gridRed"> * </span>:
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="nomApelUser" ng-model="form.emp_razonsocial"
                                   capitalize ng-required="true"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            Nombre Comercial:
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="nomApelUser" ng-model="form.emp_nombrecomercial"
                                   capitalize ng-required="true"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            Fecha autorización <span class="gridRed"> * </span>:
                        </div>
                        <div class="col-md-9">
                            <servi-fecha elementid="emp_fechaautorizacion" model="form.emp_fechaautorizacion"
                                         required="true"></servi-fecha>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            Nro Autorización <span class="gridRed"> * </span>:
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="nomApelUser" ng-model="form.emp_nroautorizacion"
                                   capitalize ng-required="true" input-mask="{mask:'99999'}"/>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-outline-primary" type="submit" ng-click="guardar()"> {{form.emp_id
                                ===
                                0?'Guardar':'Actualizar'}}
                            </button>
                            <!--
                            <button class="btn btn-default" ng-click="cancelar()"> Cancelar </button>
                            -->
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</form>
