<div class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ng-disabled="cntrl.disabled=='T'">
            {{cntrl.labelMes}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" ng-click="cntrl.setMes(1)">Enero</a></li>
            <li><a href="#" ng-click="cntrl.setMes(2)">Febrero</a></li>
            <li><a href="#" ng-click="cntrl.setMes(3)">Marzo</a></li>
            <li><a href="#" ng-click="cntrl.setMes(4)">Abril</a></li>
            <li><a href="#" ng-click="cntrl.setMes(5)">Mayo</a></li>
            <li><a href="#" ng-click="cntrl.setMes(6)">Junio</a></li>
            <li><a href="#" ng-click="cntrl.setMes(7)">Julio</a></li>
            <li><a href="#" ng-click="cntrl.setMes(8)">Agosto</a></li>
            <li><a href="#" ng-click="cntrl.setMes(9)">Septiembre</a></li>
            <li><a href="#" ng-click="cntrl.setMes(10)">Octubre</a></li>
            <li><a href="#" ng-click="cntrl.setMes(11)">Noviembre</a></li>
            <li><a href="#" ng-click="cntrl.setMes(12)">Diciembre</a></li>
        </ul>
    </div>
</div>