<!--?<servi-page-header>
    Home Page
</servi-page-header>-->
<div class="row">
    <div class="col-md-12">
        <h1>Bienvenid Home angular@</h1>
    </div>
</div>
<!--
<div class="row">
    <div class="col-md-3">
        <button class="btn btn-primary">Salir</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" ng-click="goUsuarios()">Usuarios</button>
        <button class="btn btn-primary" ng-click="goEmpresa()">Datos empresa</button>
        <button class="btn btn-primary" ng-click="goContribs()">Contribuyentes</button>
        <button class="btn btn-primary" ng-click="goAuts()">Autorizacion</button>
        <button class="btn btn-primary" ng-click="goJobs()">Trabajos Impresion</button>
    </div>
</div>
-->