<div class="textwhite">


    <div class="textwhite">


        <br>
        <footer class="subscription ">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="static/assets/logoFusay.png"
                                 alt="Fundación Salud y Vida Nueva, Centro de curación">
                            <p>
                                Desde Saraguro-Ecuador para el mundo.
                                <br>
                                ¿Desea mas información? <br>
                                Visítenos en nuestras redes sociales.</p>
                            <ul class="list-inline social-icons textwhite">
                                <li class="list-inline-item"><a class="textwhite" href="https://www.facebook.com/FundacionSaludYVidaNueva"
                                                                target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a class="textwhite" href="https://twitter.com/FundacinSaludy1"
                                                                target="_blank"><i
                                        class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a class="textwhite"
                                        href="https://www.youtube.com/channel/UC38iDzpDv-jl0-TlT-LpjxQ"
                                        target="_blank"><i class="fab fa-youtube"></i></a></li>
                                <li class="list-inline-item"><a class="textwhite"
                                        href="https://www.instagram.com/fusayvinue"
                                        target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Información de Contacto</h5>
                            <p>Saraguro - Loja - Ecuador, 200 Mts vía al Barrio Ilincho</p>
                            <ul class="list-unstyled ">
                                <li><a href="tel:+07-3030-181" class="textwhite"><i class="fa fa-phone"></i> Telf: 07-3030-181</a></li>
                                <li><a href="tel:0990244830" class="textwhite"> <i class="fab fa-whatsapp"></i> Celular: 0990244830
                                    Saraguro</a></li>
                                <li><a href="tel:0998975316" class="textwhite"> <i class="fab fa-whatsapp"></i> Celular: 0998975316 Cuenca</a>
                                </li>
                                <li><a href="mailto:fusayvinue@hotmail.com" class="textwhite"> <i class="fa fa-envelope"></i>
                                    fusayvinue@hotmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr class="white"/>
                </div>
                <div class="text-center">
                    <p>Copyright © 2020 <a class="textwhite" href="http://fusay.org"> fusay.org</a></p>
                </div>
            </section>
        </footer>
    </div>
</div>