<header class="headfusay">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light headnav p-0">
            <a class="navbar-brand p-0" href="/"><img src="static/assets/logoFusay.png" alt="Fusay"></a>
            <div class="collapse navbar-collapse text-center" id="navigation">
                <ul class="navbar-nav mx-auto mr-auto letrasCab">
                    <li class="nav-item">
                        <a class="nav-link text-capitalize active colorfusay">Fudanción Salud y Vida Nueva</a>
                    </li>
                </ul>
                <ul class="navbar-nav">

                </ul>
            </div>
        </nav>
    </div>
</header>

