{% extends "bs.jinja2" %}
{% block content %}

    <div class="row" id="appRow">
        <div class="col-md-12" id="appContainer">
            <div class="container-fluid" ui-view autoscroll="false">

                <div class="jumbotron">
                    <h1 class="display-4">SYS IMPRENTAS</h1>
                </div>

            </div>
        </div>
    </div>

{% endblock %}