{% extends "base.jinja2" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2 itemprop="headline">
                Política de Privacidad y Cookies </h2>
        </div>

        <div itemprop="articleBody">
            <p style="text-align: justify;">Los datos personales que los usuarios faciliten para llenar la
                solicitud de afiliación&nbsp;y el formulario de contacto <span style="text-align: justify;">en el portal web&nbsp;</span><strong
                        style="text-align: justify;"><a
                        href="https://www.fusay.org">www.fusay.org</a>&nbsp;</strong>quedarán
                incorporados a una base de datos propiedad de Fundación Salud y Vida Nueva (FSVN), donde puede
                dirigirse
                por escrito y adjuntando copia de cédula de identidad, por las dos caras, para solicitar
                información, rectificación, oposición o cancelación de sus datos a la siguiente dirección de
                correo electrónico: <span id="cloak103c14e4919849a33ca6fcfc44c6d22a"><a
                        href="mailto:fusayvinue@hotmail.com">fusayvinue@hotmail.com</a></span>
            </p>
            <p style="text-align: justify;">El formulario de solicitud y de contacto exige que los datos sean
                facilitados de forma veraz, completa y se actualizarán gracias a la cooperación de los
                interesados. Si los datos de carácter personal fueran inciertos, incompletos o no fueran
                actualizados, FSVN quedará liberado respecto de los casos concretos, del buen fin de la
                promoción y de cualquier consecuencia relacionada con lo anterior.</p>
            <p style="text-align: justify;">Los usuarios que envian el formulario de afiliación o el de
                contacto, de forma automática consienten incondicionalmente que los datos facilitados sean
                utilizados y tratados con la finalidad de hacer constante promocion de FSVN a las
                personas interesadas en utilizarla.</p>
            <p style="text-align: justify;">FSVN le recomienda que cada vez que se produzcan modificaciones en
                alguno/s de los datos que anteriormente usted ha facilitado en el presente formulario de
                afiliación, usted proceda personalmente a actualizar los cambios habidos a través de la revisión
                del formulario y el suministro de los nuevos datos. FSVN procurará actualizar la base de datos
                donde consta su información de carácter personal, eliminando los datos anteriores objeto de
                cambio e incorporando los nuevos. Si los datos facilitados no están actualizados o no son
                correctos, FSVN no se responsabiliza de que no pueda contactar con éxito con los usuarios para
                hacerles el seguimiento necesario o para informarles de las novedades de la marca.</p>
            <p style="text-align: justify;">Por su parte, FSVN manifiesta que los datos facilitados <strong>serán
                tratados de forma totalmente confidencial y, según todas las medidas de seguridad establecidas
                por la ley ecuatoriana</strong>, con el fin de evitar accesos y tratamientos no autorizados.</p>
            <p style="text-align: justify;"><strong>Información del uso de cookies</strong></p>
            <p style="text-align: justify;">Las cookies son breves informaciones que se envían y almacenan en el
                disco duro del ordenador del usuario a través de su navegador cuando éste se conecta a una web.
                Las cookies se pueden utilizar para recaudar y almacenar datos del usuario mientras está
                conectado para facilitarle los servicios solicitados y que en ocasiones no se suelen conservar.
                Las cookies pueden ser propias o de terceros.</p>
            <p style="text-align: justify;"><strong>Existen varios tipos de cookies:</strong></p>
            <ul style="text-align: justify;">
                <li>Cookies técnicas que facilitan la navegación del usuario y la utilización de las diferentes
                    opciones o servicios que ofrece la web como identificar la sesión, permitir el acceso a
                    determinadas áreas, facilitar pedidos, compras, cumplimentación de formularios,
                    inscripciones, seguridad, facilitar funcionalidades (vídeos, redes sociales, etc.).
                </li>
                <li>Cookies de personalización que permiten al usuario acceder a los servicios según sus
                    preferencias (idioma, navegador, configuración, etc.).
                </li>
                <li>Cookies de análisis que permiten el análisis anónimo del comportamiento de los usuarios de
                    la web y que permiten medir la actividad del usuario y elaborar perfiles de navegación con
                    el objetivo de mejorar los sitios web.
                </li>
            </ul>
            <p style="text-align: justify;">Por ello, al acceder a nuestra web, en cumplimiento de la Ley
                Orgánica de Transparencia y Acceso a la Información, Ley del Sistema Nacional de Registro de
                Datos Públicos, Ley de Comercio Electrónico, Firmas y Mensajes de Datos, en tratar cookies de
                análisis, le hemos solicitado su consentimiento para su uso. Todo ello para mejorar nuestros
                servicios. Utilizamos Google Analytics para recopilar información estadística anónima, como por
                ejemplo el número de visitantes a nuestra web. Las cookies añadidas por Google Analytics se
                rigen por las políticas de privacidad de Google Analytics. Si usted lo desea puede desactivar
                las cookies de Google Analytics.</p>
            <p style="text-align: justify;">De todos modos, le informamos que puede activar o desactivar estas
                cookies siguiendo las instrucciones de su navegador de Internet. En caso de requerir más
                información escribanos a&nbsp;<span id="cloak68e023a8d4c0ad2efe58b2fb187d3d6b"><a
                        href="mailto:fusayvinuew@hotmail.com"
                        style="text-align: justify;">fusayvinue@hotmail.com</a></span>
            </p>
            <p style="text-align: justify;">Atentamente,<br><strong>Equipo de la Fundación Salud y Vida
                Nueva</strong></p>
        </div>
    </div>
    <br>
{% endblock %}